body {
  margin: 0;
  padding: 80px 0 0 0;
  font-family: sans-serif;
}

.img-small {
  width: 100px;
}

.content-div {
  padding: 50px;

}
footer{
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 20px;
}

.OTSubscriberContainer{
  float: right;
  position: absolute;
  right: 20vw;
  top: 200px;
  z-index: -1;
}

.OTPublisherContainer{
  float: right;
  position: absolute;
  right: 20vw;
  top: 200px;
  z-index: 1;
}

#videoButton{
  float: right;
  position: absolute;
  right: 20vw;
  top: 175px;
}

/* .OT_publisher {
  z-index: 1;
  float: right;
  margin-right: 100px;
}

.OT_subscriber {
  float: right;
  margin-left: 1em;
  background-color: magenta;
} */

