
body {
  margin: 0;
  padding: 150px 0 0 0;
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  background-color: #dfdce3;
  height: 100%;
  position: relative;
}

.navbar {
  background-color: #1f2833;
  font: bold;
  color: white;
  padding: 1em;
  font: helvetica;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 10vh;
}
.nav-link {
  color: white;
}
.navbar-brand {
  color: white;
}

#nav-logo{
  width: 50px;
  height: 50px;
}

#nav-title{
  height: 50px;
}

#about-logo{
  height: 150px;
  margin-bottom: 2em;
}

#about-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-small {
  width: 100px;
}

.content-div {
  padding: 50px;
  justify-content: space-between;
}

.bold {
  color: fuchsia;
}

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  /* display: block; */
  position: relative;
  padding-bottom: 100px; /* height of your footer */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 10vw;
  margin-right: 10vw;
}

footer {
  position: absolute;
  background-color: #dfdce3;
  bottom: 0px;
  width: 100%;
  height: 2px;
  padding: 10px;
  margin-top: 10px;
}

.page-header-item{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2em;
}

.page-header-item-secondary{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: .5em;
  margin-top: 1em;
}

.focus-graph{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.chip-container {
  display: 'flex';
  justify-content: center;
  flex-wrap: 'wrap';
  margin: 5px;
}

.top-card-container {
  display: 'flex';
}
.MuiChip-root-200 {
  margin: 5px;
}

.MuiCardHeader-root-209 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.MuiCardContent-root-138 {
  border: 5px;
  margin: 10px;
}

.MuiCardContent-root-126 {
position: sticky;
}

.MuiChip-root-188 {
  background-color: #f9cf00;
  margin: 5px;
}

.MuiButton-label-30 {
  background-color: #CD5C5C;
  color: white;
  padding: 2px;
}

.MuiGrid-item-2MuiGrid-grid-xs-4-33{
  margin-right: 1px;
  margin-left: 1px;
}

#quiz-button {
  height: 10vh;
  width: 75vw;
  /* margin: 10px; */
  font-size: 1.1em;
  border-radius: 10px;
  color: black;
  background-color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  overflow-wrap: normal;
  /* text-overflow: ellipsis; */
  /* white-space: nowrap;
  overflow: hidden; */
}

#quiz-button:focus {
  outline: none;
}

#quiz-button:hover {
  background-color: #ADD8E6;
  text-decoration: none;
}

/* sources or topics selected in quiz */
.choice-selected{
  height: 5vh;
  width: 20vw;
  font-size: 1.1em;
  border-radius: 10px;
  color: black;
  background-color:  #ADD8E6;;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  margin: 5px 5px 5px 5px;
  text-overflow: ellipsis;
  /* Need the below for text-overflow to work*/
  white-space: nowrap;
  overflow: hidden;
}
.choice-selected:focus{
  outline:none;
}

/* sources or topics unselected in quiz */
.choice-unselected{
  height: 5vh;
  width: 20vw;
  font-size: 1.1em;
  border-radius: 10px;
  color: black;
  background-color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px;
 margin: 5px 5px 5px 5px;
 text-overflow: ellipsis;
  /* Need the below for text-overflow to work*/
 white-space: nowrap;
overflow: hidden;
}
.choice-unselected:focus{
  outline:none;
}

/* selected sources or topics in your profile */
.profile-selections{
  font-size: .9;
  margin-top: .2em;
  margin-bottom: .2em;
  margin-left: .2em;
  margin-right: .2em;
  padding-top: .2em;
  padding-bottom: .2em;
  padding-right: .5em;
  padding-left: .5em;
  border-radius: 9px;
  color: black;
  background-color:  #ADD8E6;;
  text-decoration: none;
  text-align: center;
  outline: none;
  text-overflow: ellipsis;
  /* Need the below for text-overflow to work*/
  white-space: nowrap;
  overflow: hidden;
}
.profile-selections:focus{
  outline:none;
}

/* Browse Discuss and Visualize options on homepage */
.home-burst-options{
  height: 5vh;
  width: 20vw;
  margin: 10px;
  font-size: 1.1em;
  border-radius: 10px;
  color: black;
  background-color: #ADD8E6;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  overflow-wrap: normal;
  /* text-overflow: ellipsis; */
  /* white-space: nowrap;
  overflow: hidden; */
}
.home-burst-options:focus{
  outline:none;
}

#login-button{
  height: 5vh;
  width: 20vw;
  font-size: 1.1em;
  border-radius: 10px;
  color: black;
  background-color:  #ADD8E6;;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  margin: 5px 5px 5px 5px;
  text-overflow: ellipsis;
  /* Need the below for text-overflow to work*/
  white-space: nowrap;
  overflow: hidden;
}
#login-button:focus{
  outline:none;
}

#question-count {
  justify-self: center;
  margin: 10px;
}

.burst-button {
  background-color:	#CD5C5C;
  color: white;
}


.OTSubscriberContainer {
  float: right;
  position: absolute;
  right: 20vw;
  top: 200px;
  z-index: -1;
}

.OTPublisherContainer {
  float: right;
  position: absolute;
  right: 20vw;
  top: 200px;
  z-index: 1;
}

/* burst your bubble flags in newsfeed */
#burst-bubble {
  margin-top: .9em;
  margin-left: .9em;
  background-color:	#CD5C5C;
  color: white;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: .8em;
  padding-left: .8em;
  border-radius: 8px;
}

/* video burst flags in popular*/
#video-burst {
  margin-top: .9em;
  margin-left: .9em;
  background-color:	#CD5C5C;;
  color: white;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: .5em;
  padding-left: .5em;
  border-radius: 8px;
  align-items: center;
}

#videoButton {
  float: right;
  position: absolute;
  right: 20vw;
  top: 175px;
}
/*
#popular-articles{

} */

.form-group {
  background-color: white;
  padding: 10px;
  /* position: absolute;
  left: 25px; */
}

#login-form {
  width: 40vw;
  margin-left: 25vw;
}

#login-input {
  width: 95%;
}

#leave-session-btn {
  position: absolute;
  top: 5vh;
  right: 15vw;
}

.flex {
  display: flex;
  flex-direction: row;
}

#video-bar {
  position: absolute;
  top: 2px;
  left: 15vw;
}

.thumbs {
  position: absolute;
  left: 35vw;
}

.thumbs-btn {
  margin: 5px;
}
