body {
  margin: 0;
  padding: 150px 0 0 0;
  font-family: 'StandardCT-Regular', Helvetica, Arial, Helvetica, sans-serif;
  background-color: #dfdce3;
  height: 100%;
  position: relative;
}

.navbar {
  background-color: #1f2833;
  font: bold;
  color: white;
}
.nav-link {
  color: white;
}
.navbar-brand {
  color: white;
}

.img-small {
  width: 100px;
}

.content-div {
  padding: 50px;
  justify-content: space-between;
}

.bold {
  color: fuchsia;
}

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
}

footer {
  position: absolute;
  background-color: #c5c6c7;
  bottom: 0px;
  width: 100%;
  height: 5px;
  padding: 10px;
  margin-top: 10px;
}
.chip-container {
  display: 'flex';
  justify-content: center;
  flex-wrap: 'wrap';
  margin: 5px;
}

.top-card-container {
  display: 'flex';
}

.MuiChip-root-200 {
  margin: 5px;
}

.MuiCardHeader-root-209 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#quiz-button {
  height: 10vh;
  width: 75vw;
  /* margin: 10px; */
  font-size: 1.1em;
  border-radius: 5px;
  color: black;
  background-color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
}

#quiz-button:hover {
  background-color: turquoise;
  text-decoration: none;
}

#question-count {
  justify-self: center;
  margin: 10px;
}
#quiz-button:focus {
  outline: none;
}
.MuiCardContent-root-138 {
  border: 5px;
  margin: 10px;
}

.MuiChip-root-188 {
  background-color: #f9cf00;

  margin: 5px;
}

/* .MuiChip-label-201 {
  color: white;
} */

.MuiButton-label-30 {
  background-color: red;
  color: white;
  padding: 2px;
}
.burst-button {
  background-color: red;
  color: white;
}

.badge-pill {
  padding: 0.5em;
  font-size: 0.9em;
  margin: 0.2em;
  background-color: ;
}

.OTSubscriberContainer {
  float: right;
  position: absolute;
  right: 20vw;
  top: 200px;
  z-index: -1;
}

.OTPublisherContainer {
  float: right;
  position: absolute;
  right: 20vw;
  top: 200px;
  z-index: 1;
}

#burst-bubble {
  margin-top: 0.9em;
  margin-left: 0.9em;
}

#videoButton {
  float: right;
  position: absolute;
  right: 20vw;
  top: 175px;
}
