body {
  margin: 0;
  padding: 15vh 5vw 5vh 5vw;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: white;
  background-color: #1f2833;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.main-container {
  min-height: 80vh;
  width: 90vw;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer {
  position: absolute;
  background-color: #1f2833;
  width: 90%;
  height: 5vh;
  margin-top: 5px;
  padding-top: 5px;
}

.navbar {
  background-color: #1f2833;
  font: bold;
  color: white;
  padding: 1em;
  font: helvetica;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 10vh;
}
.nav-link {
  color: white;
}

.nav-link:hover {
  color: #66fcf1;
}

.navbar-brand {
  color: white;
}

#nav-logo {
  width: 50px;
  height: 50px;
}

#nav-title {
  height: 50px;
}

#about-logo {
  height: 100px;
  width: 180px;
  margin-bottom: 2em;
}

#about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10vw 0 10vw;
}

.img-small {
  width: 100px;
}

.quiz-content-div {
  padding: 50px;
}

.turns {
  position: absolute;
  left: 20vw;
  top: 12vh;
  color: #66fcf1;
}

.page-header-item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2em;
  color: white;
}

.page-header-item-secondary {
  display: flex;
  direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

.page-header-item-secondary h5 {
  margin-bottom: 0;
}

.popular-article-card {
  margin-left: 1px;
  margin-right: 1px;
}

.focus-graph {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.chip-container {
  display: 'flex';
  justify-content: center;
  flex-wrap: 'wrap';
  margin: 5px;
}

.top-card-container {
  display: 'flex';
}
.MuiChip-root-200 {
  margin: 5px;
}

.MuiCardHeader-root-209 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.MuiCardContent-root-138 {
  border: 5px;
  margin: 10px;
}

.MuiCardContent-root-126 {
  position: sticky;
}

.MuiChip-root-188 {
  background-color: #f9cf00;
  margin: 5px;
}

.MuiButton-label-30 {
  background-color: #66fcf1;
  color: white;
  padding: 2px;
}

#quiz-button {
  height: 10vh;
  width: 75vw;
  font-size: 1.1em;
  border-radius: 10px;
  color: black;
  background-color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  overflow-wrap: normal;
}

#quiz-button:focus {
  outline: none;
}

#quiz-button:hover {
  background-color: #66fcf1;
  text-decoration: none;
}

/* sources or topics selected in quiz */
.choice-selected {
  height: 5vh;
  width: 20vw;
  font-size: 1.1em;
  border-radius: 10px;
  color: black;
  background-color: #66fcf1;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  margin: 5px 5px 5px 5px;
  text-overflow: ellipsis;
  /* Need the below for text-overflow to work*/
  white-space: nowrap;
  overflow: hidden;
}
.choice-selected:focus {
  outline: none;
}

/* sources or topics unselected in quiz */
.choice-unselected {
  height: 5vh;
  width: 20vw;
  font-size: 1.1em;
  border-radius: 10px;
  color: black;
  background-color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  margin: 5px 5px 5px 5px;
  text-overflow: ellipsis;
  /* Need the below for text-overflow to work*/
  white-space: nowrap;
  overflow: hidden;
}
.choice-unselected:focus {
  outline: none;
}

/* selected sources or topics in your profile */
.profile-selections {
  font-size: 0.9;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  border-radius: 9px;
  color: black;
  background-color: #c5c6c7;
  text-decoration: none;
  text-align: center;
  outline: none;
  text-overflow: ellipsis;
  /* Need the below for text-overflow to work*/
  white-space: nowrap;
  overflow: hidden;
}
.profile-selections:focus {
  outline: none;
}
/* Browse Discuss and Visualize options on homepage */
.home-burst-options {
  height: 5vh;
  width: 20vw;
  margin: 10px;
  font-size: 1.5em;
  border-radius: 10px;
  border: none;
  color: white;

  background-color: transparent;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  overflow-wrap: normal;
}

.home-burst-options:focus {
  outline: none;
}

.home-burst-options:hover {
  color: #66fcf1;
}

.auth-label {
  color: black;
}

#login-button {
  height: 5vh;
  width: 20vw;
  font-size: 1.1em;
  border-radius: 10px;
  color: black;
  background-color: #66fcf1;
  border: none;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  margin: 5px 5px 5px 5px;
  text-overflow: ellipsis;
  /* Need the below for text-overflow to work*/
  white-space: nowrap;
  overflow: hidden;
}
#login-button:focus {
  outline: none;
}

#question-count {
  justify-self: center;
  margin: 10px;
}

.MuiCardContent-root-138 {
  border: 5px;
  margin: 10px;
}

.MuiCardContent-root-126 {
  position: sticky;
}

.MuiChip-root-188 {
  background-color: #f9cf00;
  margin: 5px;
}

.MuiButton-label-30 {
  background-color: #cd5c5c;
  color: white;
  padding: 2px;
}

.burst-button {
  background-color: #66fcf1;
  color: #1f2833;
}

.OTSubscriberContainer {
  float: right;
  position: absolute;
  top: 175px;
  left: 92px;
  z-index: -1;
}

.OTPublisherContainer {
  float: right;
  position: absolute;
  right: 95px;
  top: 175px;
  z-index: 1;
}

/* burst your bubble flags in newsfeed */
#burst-bubble {
  margin-top: 0.9em;
  margin-left: 0.9em;
  background-color: #66fcf1;
  color: #1f2833;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.8em;
  padding-left: 0.8em;
  border-radius: 8px;
}

/* video burst flags in popular*/
#video-burst {
  margin-left: 0.6em;
  font-size: 13px;
  font: bold;
  background-color: #66fcf1;
  color: #1f2833;
  border: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  border-radius: 8px;
  align-items: center;
}

#videoButton {
  float: right;
  position: absolute;
  right: 20vw;
  top: 175px;
}

.popular-articles {
  display: flex;
  direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.form-group {
  background-color: white;
  padding: 10px;
}

#login-form {
  width: 40vw;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.form-control {
  width: 95%;
}

.leave-session-btn {
  position: absolute;
  top: 10vh;
  right: 7vw;
  height: 5vh;
  width: 15vw;
  margin: 10px;
  font-size: 1.1em;
  border-radius: 10px;
  border: 2px solid #1f2833;
  background-color: white;
  color: #1f2833;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  overflow-wrap: normal;
  z-index: 1;
}

.leave-session-btn:hover {
  background-color: yellow;
  color: white;
}

.flex {
  display: flex;
  flex-direction: row;
}

#video-bar {
  position: absolute;
  top: 2px;
  left: 15vw;
}

.thumbs {
  position: absolute;
  left: 35vw;
}

.thumbs-btn {
  margin: 5px;
}

.card-header {
  background-color: whtie;
}

.MuiGrid-container-367 {
  position: absolute;
  top: 50px;
  left: 950px;
  width: 400px;
}

.submit-btn {
  height: 5vh;
  width: 10vw;
  margin: 10px;
  font-size: 1.1em;
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  background-color: #1f2833;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  overflow-wrap: normal;
}

.submit-btn:hover {
  background-color: white;
  color: #1f2833;
}

.logo-btn {
  text-align: center;
}

.burst-options {
  color: #dde7f6;
  font-weight: bold;
}

.icon {
  height: 100px;
  width: 100px;
}

.chat-header {
  display: flex;
  width: 80vw;
}

#clock {
  position: absolute;
  left: 10vw;
  top: 5vh;
}

#video-container {
  position: relative;
  height: 100vh;
  width: 88vw;
  background-color: white;
  z-index: -5;
}

.btn {
  height: 5vh;
  width: 10vw;
  margin: 10px;
  font-size: 1.1em;
  border-radius: 10px;
  border: 2px solid #66fcf1;
  color: black;
  background-color: #66fcf1;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  overflow-wrap: normal;
  text-decoration: none;
}

#icon-headers {
  width: 80vw;
}
