body {
  margin: 0;
  padding: 80px 0 0 0;
  font-family: sans-serif;
  background-color: #efefef;
}

.img-small {
  width: 100px;
}

.content-div {
  padding: 50px;
}

.chip-container {
  display: 'flex';
  justify-content: center;
  flex-wrap: 'wrap';
  margin: 5px;
}

.top-card-container {
  display: 'flex';
}

.MuiChip-root-200 {
  margin: 5px;
}

#quiz-button {
  height: 10vh;
  width: 75vw;
  /* margin: 10px; */
  font-size: 1.1em;
  border-radius: 5px;
  color: black;
  background-color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
}

#quiz-button:hover {
  background-color: turquoise;
  text-decoration: none;
}

#question-count {
  justify-self: center;
  margin: 10px;
}
#quiz-button:focus {
  outline: none;
}
.MuiCardContent-root-138 {
  border: 5px;
  margin: 10px;
}

.MuiChip-root-188 {
  background-color: #f9cf00;

  margin: 5px;
}

/* .MuiChip-label-201 {
  color: white;
} */

.MuiButton-label-30 {
  background-color: red;
  color: white;
  padding: 2px;
}
.burst-button {
  background-color: red;
  color: white;
  margin-top: 2px;
  margin-left: 2px;
}
.content-div {
  justify-content: space-between;
}
footer{
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 20px;
}

.OTSubscriberContainer{
  float: right;
  position: absolute;
  right: 20vw;
  top: 200px;
  z-index: -1;
}

.OTPublisherContainer{
  float: right;
  position: absolute;
  right: 20vw;
  top: 200px;
  z-index: 1;
}

#videoButton{
  float: right;
  position: absolute;
  right: 20vw;
  top: 175px;
}

/* .OT_publisher {
  z-index: 1;
  float: right;
  margin-right: 100px;
}

.OT_subscriber {
  float: right;
  margin-left: 1em;
  background-color: magenta;
} */

