body {
  margin: 0;
  padding: 0;
  height: 100%;
}
/* a.card,
a.card:hover {
  color: #212529;
  text-decoration: none;
} */

card.selected {
  background-color: 'black' !important;
  color: black;
  text-decoration: none;
}

.graph-preview {
  background-color: whitesmoke;
  position: absolute;
  right: 50px;

  top: 50px;
  width: 30vw;
  height: 600px;
  /* overflow-y: scroll; */
}

/* #graph-preview {
    display: none
} */
.graph-preview .active {
  display: inline-block;
}

.graph-preview a {
  color: #fff;
}

.graph-preview a:link {
  text-decoration: none;
}

.graph-preview a:hover {
  text-decoration: underline;
}

/* .focusGraph {
  position: relative;
  width: 1000px;
  height: 800px;
  margin: 0 auto;
} */

/* .graph-preview img {
  width: 150px;
} */
.focus-graph .scene-tooltip {
  background-color: whitesmoke;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  /* styles for the node hover */
}

.preview-intro {
  position: absolute;
  left: 24px;
  top: 10px;
}

.card-header {
  background-color: whitesmoke;
}

.card-img-top {
  margin-top: 10px;
  margin-bottom: 15px;
}

.btn {
  height: 5vh;
  width: 10vw;
  margin: 10px;
  font-size: 1.1em;
  border-radius: 10px;
  border: 2px solid #66fcf1;
  color: black;
  background-color: #66fcf1;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  overflow-wrap: normal;
}

.btn:hover {
  background-color: white;
  color: #66fcf1;
}

.data-btn {
  background: transparent;
}
