a.card,
a.card:hover {
  color: #212529;
  text-decoration: none;
}

card.selected {
  background-color: 'black' !important;
  color: black;
  text-decoration: none;
}

.graph-preview {
  background-color: white;
  position: absolute;
  right: 24px;
  bottom: 24px;
  width: 20vw;
  height: 80vh;
  overflow-y: scroll;
}

/* #graph-preview {
    display: none
} */
.graph-preview .active {
  display: inline-block;
}

/* .focusGraph {
  position: relative;
  width: 1000px;
  height: 800px;
  margin: 0 auto;
} */

/* .graph-preview img {
  width: 150px;
} */
.focus-graph .scene-tooltip {
  background: teal;
  /* styles for the node hover */
}
